
/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em){

    .main__product-img{
        
        width: 95%;
        padding-top: 95%;
    }

    .column-layout__category{
        display: none;
    }

    .column-item{
        width: 100%;
        text-align: center;
    }

    .column-layout__container{
        width: 100%;
    }

    .feature-layout{
        display: block;
        text-align: center;
    }

    .feature-item{
        width: 100%;
        margin-bottom: 5px;
    }
  
}


/* Mobile and Tablet */

@media screen and (max-width: 63.9375em) {
    .main__product{
        flex-direction: column-reverse;
    }

    .main__product-info{
        width: 100%;
    }

    .main__product-description{
        display: none;
    }
}

/* Tablet: width >=740px and width < 1024px*/
@media screen and (min-width: 46.25em) and  (max-width: 63.9375em){

    .main__product-img{
        width: 85%;
        padding-top: 85%;
    }

    .column-item{
        width: 33.33333%;
    }
}



/* Mobile: width < 740px*/
/* @media only screen and (max-width: 46.1875em) {
    
} */

/* Tablet: width >= 740px and width < 1024px */
/* @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    
} */

/* PC: width >= 1024px */
/* @media only screen and (min-width: 64em) {
    
} */