/* Global Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Responsive Zoom Levels */
@media (min-width: 1440px) {
    html {
      zoom: 1.5;
    }
}

@media (min-width: 2560px) {
html {
    zoom: 1.7;
}
}

@media (min-width: 3860px) {
html {
    zoom: 2.5;
}
}

@media (max-width: 500px) {
    .trending-slide {
      width: 28rem ;
      height: 36rem ;
    }
  
    .trending-slide .trending-slide-img img {
      width: 28rem ;
      height: 36rem ;
    }
  }

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --primary: #e8f5e9 ;
  --white: #ffffff;
  --bg: #f5f5f5;
  --text-green: #047857;
  --yellow: #f4f422;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  background: var(--bg);
}



::-webkit-scrollbar {
  display: none ;
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* Phần này chỉ áp dụng khi kích thước màn hình nhỏ hơn hoặc bằng 780px */

.body-header {
  background-image: url("../img/bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  /* height: 100%; */
  max-width: 124rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.image-rectangle {
  width: 100%;
  max-width: 500px;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.image-rectangle:hover {
  transform: scale(1.05);
}

/* General carousel styles */
.carousel-inner img {
    width: 100%;
    height: 500px;
    object-fit: contain;
}
.carousel {
    width: 100%;
    height: 500px;
}

.dropdown-menu {
    display: none;
}

.dropdown-menu.show {
    display: block;
}

.navbar-link {
    padding: 0 15px;
}

.navbar-link:hover {
    color: #00dc64 ;
    text-decoration: none;
}

/* Dropdown Menu Styles */
.dropdown-menu {
    display: none;
    position: absolute;
    justify-content: space-around;
    top: 100%;
    left: 0;
    z-index: 1000;
    width: 500px;
    height: auto;
    margin: 0.5rem 0;
    padding: 1rem;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
}

.dropdown-menu .list-item {
    width: 25%;
    float: left;
    padding: 0 15px;
}

.dropdown-menu .list-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.dropdown-menu .title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #000;
}

.dropdown-menu ul {
    padding-left: 0;
    list-style: none;
}

.dropdown-menu ul li {
    margin-bottom: 10px;
}

.dropdown-menu ul li a {
    color: #000;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.dropdown-menu ul li a:hover {
    color: #00dc64;
}

/* Show the menu on hover */
.menu-item-has-children:hover .dropdown-menu {
    display: block;
}


.dropdown-menu::after {
    content: "";
    display: table;
    clear: both;
}

/* .button {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    transition: border-color 0.3s, color 0.3s, background-color 0.3s;
    padding: 4px 10px;
    border-radius: 9999px;
    outline: none;
} */

/* .button:hover {
    background-image: linear-gradient(to right, #FCFF, #b48def);
    color: #fff !important;
}
.button:active,
.button:focus {
    outline: none;
    opacity: 0.5;
    color: #fff;
}
button:hover .nul {
  text-decoration: none;
  color: #fff;
} */


.text-center {
  text-align: center;
}

.section-heading {
  font-size: 3rem;
  color: var(--text-green);
  padding: 2rem 0;
  text-shadow: 0 0 10px #FFF;
  font-weight: 700;
}

.header-title {
  font-size: 45px;
  padding: 20px 0;
  color: #fff;
  text-shadow: 0 0 10px #333;
  font-weight: 500;
}

/* Box Component */
/* .box {
  height: 30px;
  display: flex;
  cursor: pointer;
  padding: 10px 20px;
  background: #fff;
  border-radius: 30px;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.box:hover input {
  width: 400px;
}

.box input {
  width: 0;
  outline: none;
  border: none;
  font-weight: 500;
  transition: width 0.8s;
  background: transparent;
}

.box .a .fas {
  color: #757575;
  font-size: 18px;
} */

/* Trending Section */
#trending {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 4rem 0;
}

.trending-slider {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}

.trending-slide {
  width: 30rem;
  height: 35rem;
  position: relative;
}

.trending-slide .trending-slide-img img {
  width: 30rem;
  height: 35rem;
  border-radius: 2rem;
  object-fit: cover;
}

.icon-left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  color: #fff;
  padding: 15px;
  border-radius: 50%;
  background-color: #333;
  cursor: pointer;
}

.icon-right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  color: #fff;
  padding: 15px;
  border-radius: 50%;
  background-color: #333;
  cursor: pointer;
}

.icon-left:hover,
.icon-right:hover {
  opacity: 0.8;
}

.trending-slide .trending-slide-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.trending-slide .trending-slide-heading {
  text-align: right;
  padding-top: 10px;
  padding-right: 10px;
}

.trending-slide .trending-slide-content-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  padding: 4px 0;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.book-rating {
  display: flex;
  gap: 1rem;
}

.rating ion-icon {
  color: var(--yellow);
}

/* Swiper Control Styles */
.trending-slider-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trending-slider-control .swiper-button-next {
  left: 58%;
  transform: translateX(-58%);
}

.trending-slider-control .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.trending-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.trending-slider-control .slider-arrow::after {
  content: "";
}

.trending-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 8rem;
}

.trending-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.trending-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}

/* Slider List */
.slider-list {
  margin: 0 ;
  width: 80% ;
  background-image: url("../img/marcovaldohaycacmuatrongthanhp.jpg") ;
  background-size: cover ;
  background-position: center ;
  background-attachment: fixed ;
  min-height: 80vh ;
  display: flex ;
  flex-direction: column ;
  justify-content: center ;
  align-items: center ;
}

.photo-slider {
  width: 72vw;
  overflow: auto;
  padding: 30px;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  background-color: #fff3;
  border-radius: 20px;
}

.photo-slider::-webkit-scrollbar {
  display: none;
}

.slider-content {
  width: max-content;
  --left: 0;
  transform: translateX(var(--left));
}

.slider-content {
  width: max-content;
  --left: 0;
  transform: translateX(var(--left));
}


/* .header-title button {
  border-radius: 20px;
  border: none;
  font-family: system-ui;
  font-size: small;
  text-decoration: none;
  padding-left: 10px;
} */

.slider-content .photo-item {
  width: 200px;
  height: 300px;
  display: inline-block;
  margin-right: 20px;
  transform: perspective(10px);
  transform-style: preserve-3d;
}

.slider-content .photo-item .photo-content {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.5s;
}

.slider-content .photo-item .photo-content .photo-description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  backdrop-filter: blur(10px);
  color: #fff;
  font-family: monospace;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.slider-content .photo-item .photo-content .photo-description button {
  background-color: #eee;
  border: none;
  border-radius: 10px;
  font-size: small;
}

.slider-content.left .photo-item .photo-content {
  transform: rotateY(-1deg) scale(0.8);
}

.slider-content.right .photo-item .photo-content {
  transform: rotateY(1deg) scale(0.8);
}

.slider-content .photo-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
}

.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
}

.input-search {
  height: 40px;
  width: 40px;
  border-style: none;
  padding: 20px;
  font-size: 16px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  padding-right: 44px;
  color: #000;
}

.input-search::placeholder {
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 80;
}

.btn-search {
  width: 16px;
  height: 16px;
  border-style: none;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  bottom: 15px;
  color: #000;
  background-color: transparent;
  pointer-events: painted;
}

.btn-search:focus~.input-search {
  width: 200px;
  border-radius: 9999;
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus {
  width: 200px;
  border-radius: 9999;
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);

}